In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import time 
from tensorflow.keras.models import Sequential, load_model
from keras.layers import LSTM, Dense
import keras
import tensorflow as tf

In [3]:
data_path_and_labels = pd.read_csv("../mapped_data/ant-1.7.csv")
data_path_and_labels

                                             data_path   bugs
0    dataset/promise/defect data/ant-1.7/apache-ant...      1
1    dataset/promise/defect data/ant-1.7/apache-ant...      0
2    dataset/promise/defect data/ant-1.7/apache-ant...      1
3    dataset/promise/defect data/ant-1.7/apache-ant...      0
4    dataset/promise/defect data/ant-1.7/apache-ant...      7
..                                                 ...    ...
736  dataset/promise/defect data/ant-1.7/apache-ant...      0
737  dataset/promise/defect data/ant-1.7/apache-ant...      0
738  dataset/promise/defect data/ant-1.7/apache-ant...      0
739  dataset/promise/defect data/ant-1.7/apache-ant...      6
740  dataset/promise/defect data/ant-1.7/apache-ant...      1

[741 rows x 2 columns]

In [4]:
data_path_and_labels['data_path'] = '../' + data_path_and_labels['data_path']
data_path_and_labels

                                             data_path   bugs
0    ../dataset/promise/defect data/ant-1.7/apache-...      1
1    ../dataset/promise/defect data/ant-1.7/apache-...      0
2    ../dataset/promise/defect data/ant-1.7/apache-...      1
3    ../dataset/promise/defect data/ant-1.7/apache-...      0
4    ../dataset/promise/defect data/ant-1.7/apache-...      7
..                                                 ...    ...
736  ../dataset/promise/defect data/ant-1.7/apache-...      0
737  ../dataset/promise/defect data/ant-1.7/apache-...      0
738  ../dataset/promise/defect data/ant-1.7/apache-...      0
739  ../dataset/promise/defect data/ant-1.7/apache-...      6
740  ../dataset/promise/defect data/ant-1.7/apache-...      1

[741 rows x 2 columns]

In [5]:
with open('/home/bavanya/Desktop/AST_text_regression/dataset/promise/defect data/ant-1.3/src/main/org/apache/tools/tar/TarBuffer.java.restrictedcontent.embed') as f:
    lines = f.read().splitlines()

In [6]:
embeddings = []
for index, row in data_path_and_labels.iterrows():
    with open(row['data_path']) as f:
        lines = list(map(float, f.read().splitlines())) 
    embeddings.append(lines)

In [7]:
df = pd.DataFrame(embeddings)
df

,0,1,2,3,4,5,6,7,8,9,...,3368,3369,3370,3371,3372,3373,3374,3375,3376,3377
0,2480.0,6397.0,10419.0,2480.0,10419.0,6397.0,10419.0,10419.0,2480.0,3202.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2470.0,5355.0,2480.0,5455.0,2480.0,5065.0,2480.0,5453.0,3200.0,5063.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2338.0,2480.0,6072.0,9002.0,6072.0,2480.0,6072.0,6072.0,5355.0,2480.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2333.0,6397.0,1709.0,6397.0,1348.0,6397.0,874.0,6397.0,574.0,6397.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2471.0,1123.0,4331.0,1123.0,1123.0,1123.0,1672.0,6938.0,6074.0,6938.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,2087.0,231.0,8254.0,2107.0,8494.0,2107.0,2087.0,6253.0,1196.0,8254.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
737,356.0,6397.0,3665.0,356.0,6356.0,6356.0,5937.0,5318.0,6397.0,8513.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
738,197.0,6397.0,3038.0,6397.0,1426.0,6397.0,1430.0,6397.0,1866.0,6397.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
739,253.0,6397.0,6397.0,1427.0,6397.0,1959.0,6397.0,276.0,1959.0,6397.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
740,252.0,8434.0,8060.0,7120.0,3111.0,6274.0,3873.0,6274.0,3200.0,8748.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
data = pd.concat([data_path_and_labels, df], axis = 1)
data = data.drop('data_path', 1)
data

,bugs,0,1,2,3,4,5,6,7,8,...,3368,3369,3370,3371,3372,3373,3374,3375,3376,3377
0,1,2480.0,6397.0,10419.0,2480.0,10419.0,6397.0,10419.0,10419.0,2480.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,2470.0,5355.0,2480.0,5455.0,2480.0,5065.0,2480.0,5453.0,3200.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,2338.0,2480.0,6072.0,9002.0,6072.0,2480.0,6072.0,6072.0,5355.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,2333.0,6397.0,1709.0,6397.0,1348.0,6397.0,874.0,6397.0,574.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7,2471.0,1123.0,4331.0,1123.0,1123.0,1123.0,1672.0,6938.0,6074.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,0,2087.0,231.0,8254.0,2107.0,8494.0,2107.0,2087.0,6253.0,1196.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
737,0,356.0,6397.0,3665.0,356.0,6356.0,6356.0,5937.0,5318.0,6397.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
738,0,197.0,6397.0,3038.0,6397.0,1426.0,6397.0,1430.0,6397.0,1866.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
739,6,253.0,6397.0,6397.0,1427.0,6397.0,1959.0,6397.0,276.0,1959.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
740,1,252.0,8434.0,8060.0,7120.0,3111.0,6274.0,3873.0,6274.0,3200.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
train, test = train_test_split(data, test_size=0.2)

In [10]:
train

,bugs,0,1,2,3,4,5,6,7,8,...,3368,3369,3370,3371,3372,3373,3374,3375,3376,3377
92,0,827.0,9199.0,7707.0,1685.0,9198.0,6421.0,1196.0,9200.0,6421.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
197,0,2980.0,4635.0,986.0,7723.0,1785.0,6187.0,4490.0,3249.0,3098.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
713,0,627.0,2724.0,9511.0,1758.0,2586.0,3419.0,1758.0,2714.0,3417.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
443,1,2096.0,1247.0,10058.0,1255.0,7926.0,6397.0,10218.0,6397.0,1455.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
453,0,1981.0,2106.0,324.0,2106.0,314.0,2106.0,315.0,2106.0,307.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,0,2084.0,4453.0,3111.0,6897.0,1479.0,426.0,3463.0,9387.0,2106.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
364,1,2419.0,2106.0,1735.0,2106.0,1736.0,2106.0,1738.0,2106.0,1739.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
677,0,2115.0,2115.0,2106.0,1346.0,5647.0,6800.0,2377.0,3873.0,2106.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
141,1,133.0,3111.0,3530.0,2106.0,4588.0,1758.0,4590.0,2377.0,7686.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
604,0,641.0,2106.0,2793.0,2106.0,8142.0,1527.0,7218.0,6397.0,8229.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
test

,bugs,0,1,2,3,4,5,6,7,8,...,3368,3369,3370,3371,3372,3373,3374,3375,3376,3377
480,0,1878.0,3111.0,10388.0,3111.0,10389.0,3111.0,10387.0,219.0,6902.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
252,0,986.0,3216.0,986.0,3041.0,2377.0,4712.0,2377.0,3111.0,4132.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
321,0,3617.0,2106.0,7347.0,2106.0,8513.0,8405.0,8405.0,2106.0,2106.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
396,0,1481.0,2106.0,9570.0,2106.0,10474.0,2106.0,10475.0,2106.0,8755.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262,1,2044.0,3200.0,1345.0,6397.0,174.0,2106.0,8344.0,986.0,6877.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,0,1004.0,986.0,3052.0,2106.0,4691.0,6397.0,7994.0,1004.0,1004.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
599,0,1007.0,6565.0,3111.0,3052.0,986.0,4685.0,2106.0,4635.0,986.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
405,0,843.0,142.0,4556.0,142.0,142.0,4557.0,142.0,2647.0,4551.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161,0,1521.0,1008.0,4708.0,1008.0,9201.0,8098.0,1794.0,9201.0,8098.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138,0,2106.0,1649.0,2106.0,1906.0,8214.0,435.0,10535.0,726.0,1200.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
Y_train = train[' bugs']
Y_test = test[' bugs']

In [13]:
train_y = Y_train.to_numpy()
test_y = Y_test.to_numpy()

In [14]:
train = train.drop(' bugs', axis=1)
test = test.drop(' bugs', axis=1)

In [15]:
X_train = train.values
X_test = test.values

In [16]:
train_x = np.reshape(X_train, (X_train.shape[0], 1, X_train.shape[1]))
test_x = np.reshape(X_test, (X_test.shape[0], 1, X_test.shape[1]))

In [17]:
# Designing and initializing the model.
model = Sequential()
model.add(LSTM(200, return_sequences=True))
model.add(LSTM(100, return_sequences=True))
model.add(LSTM(50, dropout = 0.2, return_sequences=True))
model.add(LSTM(20, return_sequences=False))
model.add(Dense(1, activation = 'relu'))
model.compile(loss = 'mse' , optimizer = keras.optimizers.Adam(learning_rate=0.0001) , metrics = ['mse', 'mae', tf.keras.metrics.RootMeanSquaredError(), tf.keras.metrics.MeanSquaredLogarithmicError()] )

In [18]:
# Fitting the model on training data.
import datetime
log_dir = '/home/bavanya/Desktop/tensorboard/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir=log_dir, histogram_freq=1)
history = model.fit(train_x, train_y, epochs = 100, callbacks=[tensorboard_callback])

WARNING:tensorflow:Model failed to serialize as JSON. Ignoring... Layer ModuleWrapper has arguments in `__init__` and therefore must override `get_config`.
Epoch 1/100
19/19 [==============================] - 9s 56ms/step - loss: 1.4513 - mse: 1.4513 - mae: 0.4436 - root_mean_squared_error: 1.2047 - mean_squared_logarithmic_error: 0.2552
Epoch 2/100
19/19 [==============================] - 1s 32ms/step - loss: 1.4445 - mse: 1.4445 - mae: 0.4463 - root_mean_squared_error: 1.2019 - mean_squared_logarithmic_error: 0.2519
Epoch 3/100
19/19 [==============================] - 1s 32ms/step - loss: 1.4363 - mse: 1.4363 - mae: 0.4497 - root_mean_squared_error: 1.1984 - mean_squared_logarithmic_error: 0.2481
Epoch 4/100
19/19 [==============================] - 1s 33ms/step - loss: 1.4268 - mse: 1.4268 - mae: 0.4532 - root_mean_squared_error: 1.1945 - mean_squared_logarithmic_error: 0.2437
Epoch 5/100
19/19 [==============================] - 1s 35ms/step - loss: 1.4159 - mse: 1.4159 - mae: 0.4570 - root_mean_squared_error: 1.1899 - mean_squared_logarithmic_error: 0.2388
Epoch 6/100
19/19 [==============================] - 1s 32ms/step - loss: 1.4037 - mse: 1.4037 - mae: 0.4600 - root_mean_squared_error: 1.1848 - mean_squared_logarithmic_error: 0.2337
Epoch 7/100
19/19 [==============================] - 1s 31ms/step - loss: 1.3871 - mse: 1.3871 - mae: 0.4644 - root_mean_squared_error: 1.1778 - mean_squared_logarithmic_error: 0.2268
Epoch 8/100
19/19 [==============================] - 1s 31ms/step - loss: 1.3630 - mse: 1.3630 - mae: 0.4686 - root_mean_squared_error: 1.1675 - mean_squared_logarithmic_error: 0.2175
Epoch 9/100
19/19 [==============================] - 1s 26ms/step - loss: 1.3287 - mse: 1.3287 - mae: 0.4749 - root_mean_squared_error: 1.1527 - mean_squared_logarithmic_error: 0.2056
Epoch 10/100
19/19 [==============================] - 0s 26ms/step - loss: 1.2844 - mse: 1.2844 - mae: 0.4794 - root_mean_squared_error: 1.1333 - mean_squared_logarithmic_error: 0.1916
Epoch 11/100
19/19 [==============================] - 1s 27ms/step - loss: 1.2288 - mse: 1.2288 - mae: 0.4831 - root_mean_squared_error: 1.1085 - mean_squared_logarithmic_error: 0.1770
Epoch 12/100
19/19 [==============================] - 1s 30ms/step - loss: 1.1602 - mse: 1.1602 - mae: 0.4804 - root_mean_squared_error: 1.0771 - mean_squared_logarithmic_error: 0.1621
Epoch 13/100
19/19 [==============================] - 1s 29ms/step - loss: 1.0982 - mse: 1.0982 - mae: 0.4720 - root_mean_squared_error: 1.0480 - mean_squared_logarithmic_error: 0.1507
Epoch 14/100
19/19 [==============================] - 0s 26ms/step - loss: 1.0262 - mse: 1.0262 - mae: 0.4670 - root_mean_squared_error: 1.0130 - mean_squared_logarithmic_error: 0.1432
Epoch 15/100
19/19 [==============================] - 1s 26ms/step - loss: 0.9782 - mse: 0.9782 - mae: 0.4587 - root_mean_squared_error: 0.9891 - mean_squared_logarithmic_error: 0.1385
Epoch 16/100
19/19 [==============================] - 1s 27ms/step - loss: 0.9454 - mse: 0.9454 - mae: 0.4494 - root_mean_squared_error: 0.9723 - mean_squared_logarithmic_error: 0.1358
Epoch 17/100
19/19 [==============================] - 1s 27ms/step - loss: 0.9167 - mse: 0.9167 - mae: 0.4487 - root_mean_squared_error: 0.9575 - mean_squared_logarithmic_error: 0.1358
Epoch 18/100
19/19 [==============================] - 1s 29ms/step - loss: 0.8892 - mse: 0.8892 - mae: 0.4635 - root_mean_squared_error: 0.9430 - mean_squared_logarithmic_error: 0.1388
Epoch 19/100
19/19 [==============================] - 1s 32ms/step - loss: 0.8768 - mse: 0.8768 - mae: 0.4574 - root_mean_squared_error: 0.9363 - mean_squared_logarithmic_error: 0.1350
Epoch 20/100
19/19 [==============================] - 1s 29ms/step - loss: 0.8620 - mse: 0.8620 - mae: 0.4551 - root_mean_squared_error: 0.9284 - mean_squared_logarithmic_error: 0.1356
Epoch 21/100
19/19 [==============================] - 0s 26ms/step - loss: 0.8519 - mse: 0.8519 - mae: 0.4559 - root_mean_squared_error: 0.9230 - mean_squared_logarithmic_error: 0.1373
Epoch 22/100
19/19 [==============================] - 0s 26ms/step - loss: 0.8577 - mse: 0.8577 - mae: 0.4547 - root_mean_squared_error: 0.9261 - mean_squared_logarithmic_error: 0.1382
Epoch 23/100
19/19 [==============================] - 0s 26ms/step - loss: 0.8437 - mse: 0.8437 - mae: 0.4459 - root_mean_squared_error: 0.9185 - mean_squared_logarithmic_error: 0.1349
Epoch 24/100
19/19 [==============================] - 1s 30ms/step - loss: 0.8371 - mse: 0.8371 - mae: 0.4424 - root_mean_squared_error: 0.9149 - mean_squared_logarithmic_error: 0.1342
Epoch 25/100
19/19 [==============================] - 1s 27ms/step - loss: 0.8257 - mse: 0.8257 - mae: 0.4412 - root_mean_squared_error: 0.9087 - mean_squared_logarithmic_error: 0.1331
Epoch 26/100
19/19 [==============================] - 1s 28ms/step - loss: 0.8188 - mse: 0.8188 - mae: 0.4425 - root_mean_squared_error: 0.9049 - mean_squared_logarithmic_error: 0.1343
Epoch 27/100
19/19 [==============================] - 1s 27ms/step - loss: 0.8142 - mse: 0.8142 - mae: 0.4364 - root_mean_squared_error: 0.9023 - mean_squared_logarithmic_error: 0.1324
Epoch 28/100
19/19 [==============================] - 1s 32ms/step - loss: 0.8034 - mse: 0.8034 - mae: 0.4320 - root_mean_squared_error: 0.8963 - mean_squared_logarithmic_error: 0.1299
Epoch 29/100
19/19 [==============================] - 1s 34ms/step - loss: 0.7942 - mse: 0.7942 - mae: 0.4307 - root_mean_squared_error: 0.8912 - mean_squared_logarithmic_error: 0.1281
Epoch 30/100
19/19 [==============================] - 1s 32ms/step - loss: 0.7956 - mse: 0.7956 - mae: 0.4339 - root_mean_squared_error: 0.8920 - mean_squared_logarithmic_error: 0.1296
Epoch 31/100
19/19 [==============================] - 1s 33ms/step - loss: 0.8012 - mse: 0.8012 - mae: 0.4383 - root_mean_squared_error: 0.8951 - mean_squared_logarithmic_error: 0.1311
Epoch 32/100
19/19 [==============================] - 1s 33ms/step - loss: 0.7882 - mse: 0.7882 - mae: 0.4354 - root_mean_squared_error: 0.8878 - mean_squared_logarithmic_error: 0.1295
Epoch 33/100
19/19 [==============================] - 1s 30ms/step - loss: 0.7794 - mse: 0.7794 - mae: 0.4331 - root_mean_squared_error: 0.8828 - mean_squared_logarithmic_error: 0.1283
Epoch 34/100
19/19 [==============================] - 0s 26ms/step - loss: 0.7824 - mse: 0.7824 - mae: 0.4320 - root_mean_squared_error: 0.8845 - mean_squared_logarithmic_error: 0.1283
Epoch 35/100
19/19 [==============================] - 1s 28ms/step - loss: 0.7756 - mse: 0.7756 - mae: 0.4323 - root_mean_squared_error: 0.8807 - mean_squared_logarithmic_error: 0.1277
Epoch 36/100
19/19 [==============================] - 0s 26ms/step - loss: 0.7588 - mse: 0.7588 - mae: 0.4277 - root_mean_squared_error: 0.8711 - mean_squared_logarithmic_error: 0.1253
Epoch 37/100
19/19 [==============================] - 0s 26ms/step - loss: 0.7614 - mse: 0.7614 - mae: 0.4236 - root_mean_squared_error: 0.8726 - mean_squared_logarithmic_error: 0.1238
Epoch 38/100
19/19 [==============================] - 0s 26ms/step - loss: 0.7585 - mse: 0.7585 - mae: 0.4202 - root_mean_squared_error: 0.8709 - mean_squared_logarithmic_error: 0.1224
Epoch 39/100
19/19 [==============================] - 1s 31ms/step - loss: 0.7415 - mse: 0.7415 - mae: 0.4192 - root_mean_squared_error: 0.8611 - mean_squared_logarithmic_error: 0.1220
Epoch 40/100
19/19 [==============================] - 1s 33ms/step - loss: 0.7382 - mse: 0.7382 - mae: 0.4207 - root_mean_squared_error: 0.8592 - mean_squared_logarithmic_error: 0.1215
Epoch 41/100
19/19 [==============================] - 1s 31ms/step - loss: 0.7371 - mse: 0.7371 - mae: 0.4205 - root_mean_squared_error: 0.8585 - mean_squared_logarithmic_error: 0.1221
Epoch 42/100
19/19 [==============================] - 0s 26ms/step - loss: 0.7370 - mse: 0.7370 - mae: 0.4256 - root_mean_squared_error: 0.8585 - mean_squared_logarithmic_error: 0.1236
Epoch 43/100
19/19 [==============================] - 0s 26ms/step - loss: 0.7125 - mse: 0.7125 - mae: 0.4182 - root_mean_squared_error: 0.8441 - mean_squared_logarithmic_error: 0.1192
Epoch 44/100

19/19 [==============================] - 1s 29ms/step - loss: 0.7180 - mse: 0.7180 - mae: 0.4162 - root_mean_squared_error: 0.8473 - mean_squared_logarithmic_error: 0.1185
Epoch 45/100
19/19 [==============================] - 0s 25ms/step - loss: 0.7149 - mse: 0.7149 - mae: 0.4145 - root_mean_squared_error: 0.8455 - mean_squared_logarithmic_error: 0.1171
Epoch 46/100
19/19 [==============================] - 0s 26ms/step - loss: 0.7127 - mse: 0.7127 - mae: 0.4147 - root_mean_squared_error: 0.8442 - mean_squared_logarithmic_error: 0.1170
Epoch 47/100
19/19 [==============================] - 1s 28ms/step - loss: 0.7052 - mse: 0.7052 - mae: 0.4098 - root_mean_squared_error: 0.8398 - mean_squared_logarithmic_error: 0.1158
Epoch 48/100
19/19 [==============================] - 1s 30ms/step - loss: 0.7119 - mse: 0.7119 - mae: 0.4109 - root_mean_squared_error: 0.8437 - mean_squared_logarithmic_error: 0.1172
Epoch 49/100
19/19 [==============================] - 0s 26ms/step - loss: 0.6959 - mse: 0.6959 - mae: 0.4068 - root_mean_squared_error: 0.8342 - mean_squared_logarithmic_error: 0.1136
Epoch 50/100
19/19 [==============================] - 0s 26ms/step - loss: 0.6933 - mse: 0.6933 - mae: 0.4055 - root_mean_squared_error: 0.8326 - mean_squared_logarithmic_error: 0.1126
Epoch 51/100
19/19 [==============================] - 1s 27ms/step - loss: 0.6991 - mse: 0.6991 - mae: 0.4053 - root_mean_squared_error: 0.8361 - mean_squared_logarithmic_error: 0.1139
Epoch 52/100
19/19 [==============================] - 0s 26ms/step - loss: 0.6808 - mse: 0.6808 - mae: 0.4092 - root_mean_squared_error: 0.8251 - mean_squared_logarithmic_error: 0.1159
Epoch 53/100
19/19 [==============================] - 0s 26ms/step - loss: 0.6835 - mse: 0.6835 - mae: 0.4069 - root_mean_squared_error: 0.8267 - mean_squared_logarithmic_error: 0.1153
Epoch 54/100
19/19 [==============================] - 0s 26ms/step - loss: 0.6790 - mse: 0.6790 - mae: 0.4056 - root_mean_squared_error: 0.8240 - mean_squared_logarithmic_error: 0.1134
Epoch 55/100
19/19 [==============================] - 0s 26ms/step - loss: 0.6619 - mse: 0.6619 - mae: 0.4045 - root_mean_squared_error: 0.8136 - mean_squared_logarithmic_error: 0.1122
Epoch 56/100
19/19 [==============================] - 0s 26ms/step - loss: 0.6476 - mse: 0.6476 - mae: 0.3989 - root_mean_squared_error: 0.8048 - mean_squared_logarithmic_error: 0.1107
Epoch 57/100
19/19 [==============================] - 0s 26ms/step - loss: 0.6441 - mse: 0.6441 - mae: 0.3959 - root_mean_squared_error: 0.8025 - mean_squared_logarithmic_error: 0.1099
Epoch 58/100
19/19 [==============================] - 1s 32ms/step - loss: 0.6398 - mse: 0.6398 - mae: 0.3945 - root_mean_squared_error: 0.7999 - mean_squared_logarithmic_error: 0.1090
Epoch 59/100
19/19 [==============================] - 1s 34ms/step - loss: 0.6264 - mse: 0.6264 - mae: 0.3906 - root_mean_squared_error: 0.7914 - mean_squared_logarithmic_error: 0.1055
Epoch 60/100
19/19 [==============================] - 1s 36ms/step - loss: 0.6246 - mse: 0.6246 - mae: 0.3924 - root_mean_squared_error: 0.7903 - mean_squared_logarithmic_error: 0.1064
Epoch 61/100
19/19 [==============================] - 1s 34ms/step - loss: 0.6191 - mse: 0.6191 - mae: 0.3937 - root_mean_squared_error: 0.7868 - mean_squared_logarithmic_error: 0.1073
Epoch 62/100
19/19 [==============================] - 1s 33ms/step - loss: 0.6194 - mse: 0.6194 - mae: 0.3933 - root_mean_squared_error: 0.7870 - mean_squared_logarithmic_error: 0.1066
Epoch 63/100
19/19 [==============================] - 1s 35ms/step - loss: 0.6153 - mse: 0.6153 - mae: 0.3875 - root_mean_squared_error: 0.7844 - mean_squared_logarithmic_error: 0.1063
Epoch 64/100
19/19 [==============================] - 1s 33ms/step - loss: 0.6052 - mse: 0.6052 - mae: 0.3776 - root_mean_squared_error: 0.7779 - mean_squared_logarithmic_error: 0.1017 0s - loss: 0.7517 - mse: 0.7517 - mae: 0.4046 - root_mean_squared_error: 0.8670 - mean_squared_logarithmic_err
Epoch 65/100
19/19 [==============================] - 1s 32ms/step - loss: 0.5940 - mse: 0.5940 - mae: 0.3719 - root_mean_squared_error: 0.7707 - mean_squared_logarithmic_error: 0.1006
Epoch 66/100
19/19 [==============================] - 1s 31ms/step - loss: 0.5977 - mse: 0.5977 - mae: 0.3725 - root_mean_squared_error: 0.7731 - mean_squared_logarithmic_error: 0.1007
Epoch 67/100
19/19 [==============================] - 1s 32ms/step - loss: 0.5838 - mse: 0.5838 - mae: 0.3733 - root_mean_squared_error: 0.7640 - mean_squared_logarithmic_error: 0.0993
Epoch 68/100
19/19 [==============================] - 1s 32ms/step - loss: 0.5859 - mse: 0.5859 - mae: 0.3760 - root_mean_squared_error: 0.7654 - mean_squared_logarithmic_error: 0.1016
Epoch 69/100
19/19 [==============================] - 1s 32ms/step - loss: 0.5702 - mse: 0.5702 - mae: 0.3791 - root_mean_squared_error: 0.7551 - mean_squared_logarithmic_error: 0.1010
Epoch 70/100
19/19 [==============================] - 1s 30ms/step - loss: 0.5625 - mse: 0.5625 - mae: 0.3718 - root_mean_squared_error: 0.7500 - mean_squared_logarithmic_error: 0.0985
Epoch 71/100
19/19 [==============================] - 1s 32ms/step - loss: 0.5608 - mse: 0.5608 - mae: 0.3753 - root_mean_squared_error: 0.7489 - mean_squared_logarithmic_error: 0.1006
Epoch 72/100
19/19 [==============================] - 1s 32ms/step - loss: 0.5618 - mse: 0.5618 - mae: 0.3733 - root_mean_squared_error: 0.7495 - mean_squared_logarithmic_error: 0.1007
Epoch 73/100
19/19 [==============================] - 1s 33ms/step - loss: 0.5551 - mse: 0.5551 - mae: 0.3682 - root_mean_squared_error: 0.7450 - mean_squared_logarithmic_error: 0.0979
Epoch 74/100
19/19 [==============================] - 1s 34ms/step - loss: 0.5460 - mse: 0.5460 - mae: 0.3609 - root_mean_squared_error: 0.7389 - mean_squared_logarithmic_error: 0.0944
Epoch 75/100
19/19 [==============================] - 1s 32ms/step - loss: 0.5320 - mse: 0.5320 - mae: 0.3614 - root_mean_squared_error: 0.7294 - mean_squared_logarithmic_error: 0.0944
Epoch 76/100
19/19 [==============================] - 1s 30ms/step - loss: 0.5298 - mse: 0.5298 - mae: 0.3594 - root_mean_squared_error: 0.7279 - mean_squared_logarithmic_error: 0.0951
Epoch 77/100
19/19 [==============================] - 1s 33ms/step - loss: 0.5266 - mse: 0.5266 - mae: 0.3566 - root_mean_squared_error: 0.7256 - mean_squared_logarithmic_error: 0.0937
Epoch 78/100
19/19 [==============================] - 1s 31ms/step - loss: 0.5250 - mse: 0.5250 - mae: 0.3562 - root_mean_squared_error: 0.7246 - mean_squared_logarithmic_error: 0.0927
Epoch 79/100
19/19 [==============================] - 1s 32ms/step - loss: 0.5236 - mse: 0.5236 - mae: 0.3506 - root_mean_squared_error: 0.7236 - mean_squared_logarithmic_error: 0.0917
Epoch 80/100
19/19 [==============================] - 1s 32ms/step - loss: 0.5161 - mse: 0.5161 - mae: 0.3521 - root_mean_squared_error: 0.7184 - mean_squared_logarithmic_error: 0.0916
Epoch 81/100
19/19 [==============================] - 1s 33ms/step - loss: 0.5076 - mse: 0.5076 - mae: 0.3457 - root_mean_squared_error: 0.7125 - mean_squared_logarithmic_error: 0.0892
Epoch 82/100
19/19 [==============================] - 1s 33ms/step - loss: 0.5208 - mse: 0.5208 - mae: 0.3491 - root_mean_squared_error: 0.7216 - mean_squared_logarithmic_error: 0.0909
Epoch 83/100
19/19 [==============================] - 1s 31ms/step - loss: 0.5053 - mse: 0.5053 - mae: 0.3437 - root_mean_squared_error: 0.7108 - mean_squared_logarithmic_error: 0.0901
Epoch 84/100
19/19 [==============================] - 1s 34ms/step - loss: 0.4901 - mse: 0.4901 - mae: 0.3383 - root_mean_squared_error: 0.7001 - mean_squared_logarithmic_error: 0.0886
Epoch 85/100
19/19 [==============================] - 1s 34ms/step - loss: 0.4852 - mse: 0.4852 - mae: 0.3350 - root_mean_squared_error: 0.6966 - mean_squared_logarithmic_error: 0.0857
Epoch 86/100
19/19 [==============================] - 1s 32ms/step - loss: 0.4754 - mse: 0.4754 - mae: 0.3335 - root_mean_squared_error: 0.6895 - mean_squared_logarithmic_error: 0.0851
Epoch 87/100

19/19 [==============================] - 1s 33ms/step - loss: 0.4838 - mse: 0.4838 - mae: 0.3371 - root_mean_squared_error: 0.6956 - mean_squared_logarithmic_error: 0.0858
Epoch 88/100
19/19 [==============================] - 1s 31ms/step - loss: 0.4808 - mse: 0.4808 - mae: 0.3354 - root_mean_squared_error: 0.6934 - mean_squared_logarithmic_error: 0.0864
Epoch 89/100
19/19 [==============================] - 1s 32ms/step - loss: 0.4598 - mse: 0.4598 - mae: 0.3262 - root_mean_squared_error: 0.6781 - mean_squared_logarithmic_error: 0.0823
Epoch 90/100
19/19 [==============================] - 1s 31ms/step - loss: 0.4462 - mse: 0.4462 - mae: 0.3214 - root_mean_squared_error: 0.6679 - mean_squared_logarithmic_error: 0.0812
Epoch 91/100
19/19 [==============================] - 1s 32ms/step - loss: 0.4593 - mse: 0.4593 - mae: 0.3305 - root_mean_squared_error: 0.6777 - mean_squared_logarithmic_error: 0.0856
Epoch 92/100
19/19 [==============================] - 1s 32ms/step - loss: 0.4625 - mse: 0.4625 - mae: 0.3256 - root_mean_squared_error: 0.6801 - mean_squared_logarithmic_error: 0.0832
Epoch 93/100
19/19 [==============================] - 1s 32ms/step - loss: 0.4443 - mse: 0.4443 - mae: 0.3206 - root_mean_squared_error: 0.6666 - mean_squared_logarithmic_error: 0.0816
Epoch 94/100
19/19 [==============================] - 1s 31ms/step - loss: 0.4450 - mse: 0.4450 - mae: 0.3191 - root_mean_squared_error: 0.6671 - mean_squared_logarithmic_error: 0.0827
Epoch 95/100
19/19 [==============================] - 1s 32ms/step - loss: 0.4370 - mse: 0.4370 - mae: 0.3178 - root_mean_squared_error: 0.6611 - mean_squared_logarithmic_error: 0.0790
Epoch 96/100
19/19 [==============================] - 1s 31ms/step - loss: 0.4385 - mse: 0.4385 - mae: 0.3143 - root_mean_squared_error: 0.6622 - mean_squared_logarithmic_error: 0.0777
Epoch 97/100
19/19 [==============================] - 1s 33ms/step - loss: 0.4322 - mse: 0.4322 - mae: 0.3177 - root_mean_squared_error: 0.6574 - mean_squared_logarithmic_error: 0.0801
Epoch 98/100
19/19 [==============================] - 1s 31ms/step - loss: 0.4261 - mse: 0.4261 - mae: 0.3137 - root_mean_squared_error: 0.6528 - mean_squared_logarithmic_error: 0.0775
Epoch 99/100
19/19 [==============================] - 1s 32ms/step - loss: 0.4290 - mse: 0.4290 - mae: 0.3153 - root_mean_squared_error: 0.6549 - mean_squared_logarithmic_error: 0.0777
Epoch 100/100
19/19 [==============================] - 1s 31ms/step - loss: 0.4073 - mse: 0.4073 - mae: 0.3058 - root_mean_squared_error: 0.6382 - mean_squared_logarithmic_error: 0.0748

In [19]:
%tensorboard --logdir '/home/bavanya/Desktop/tensorboard/'

UsageError: Line magic function `%tensorboard` not found.

In [20]:
score = model.evaluate(test_x, test_y)
score

5/5 [==============================] - 1s 9ms/step - loss: 1.3662 - mse: 1.3662 - mae: 0.6387 - root_mean_squared_error: 1.1688 - mean_squared_logarithmic_error: 0.2504

[1.366152048110962,
 1.366152048110962,
 0.638694703578949,
 1.1688250303268433,
 0.25039994716644287]